<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>

    <style>

      .color-red { color: red; }
      .is-loading { color: blue; }
    </style>



  </head>
  <body>

    <div class="" id="root">
        <input type="text" name="" id="input" v-model="message">
        <p>The value of the input is : {{ message }}</p>
        {{ myval }}

        <ul>
          <li>{{ names }}</li>
          <li v-for="name in names" v-text="name"></li>
        </ul>

        <input type="text" name="" value="" v-model="newName" v-on:keyUp="addName">
        <button v-on:click="addName">Add Name</button>

        <br>

        <button v-on:click="mymethod" v-bind:title="title">Hover over me</button>



        <h1 :class="className">Hello World</h1>

        <button :class="{'is-loading': isLoading}" name="button" @click="toggleClass">Click Me</button>


        <button :disabled="isDisabled" type="button" name="button" @click="disableBtn">Is this disabled?</button>


        <h1>All Tasks</h1>
        <ul>
          <li v-for="task in tasks" v-text="task.description"></li>
        </ul>

        <h1>Incomplete Tasks</h1>
        <ul>
          <li v-for="task in incompleteTasks" v-text="task.description"></li>
        </ul>

        <ul>

          <task>Go to the store</task>
          <task>Go to the bank</task>
          <task>Go to wherever</task>
          <task></task>
          <task></task>
        </ul>

        <task-list></task-list>



    </div>



    <script src="https://unpkg.com/vue@2.5.21/dist/vue.js"></script>

    <script>

      var app = new Vue({
        el: "#root",
        data: {

          newName: "",
          title: "now the title is being set by js",


          message: "Hello World",
          myval: "hi",
          names: ["joe","mary","jane"],
          className: "color-red",

          isLoading: false,
          isDisabled: false,



          tasks: [
            { description: 'Go to the store', completed: true},
            { description: 'Finish screencast', completed: false},
            { description: 'Make donation', completed: false},
            { description: 'Clear inbox', completed: false},
            { description: 'Make dinner', completed: false},
            { description: 'Clean room', completed: true},






          ]


        },

        computed: {
          incompleteTasks() {
            return this.tasks.filter(task => ! task.completed)
          }
        },

        methods: {
            disableBtn(){
              this.isDisabled = true
            }
            ,
            toggleClass(){
              this.isLoading = !this.isLoading
            },

            mymethod(){
              alert("hey")
            },


            addName() {
              this.names.push(this.newName)
              this.newName = ""
            }
        }
        ,
        mounted() {
          alert("mounted")
        }


      })



    </script>
    <script src="/Users/zahnmarc/Documents/vuejs/main.js"></script>
  </body>
</html>
